{
  "presets": [
    "@babel/preset-flow",
    "@babel/preset-react"
  ],
  "plugins": [
    ["@babel/plugin-transform-runtime", {
      "helpers": false,
      "regenerator": true
    }]
  ],
  "env": {
    "cjs": {
      "presets": [
        ["@babel/preset-env", { "targets": { "browsers": ["last 2 versions", "safari >= 7"] } }]
      ]
    },
    "esm": {
      "presets": [
        ["@babel/preset-env", { "targets": { "browsers": ["last 2 versions", "safari >= 7"] }, "modules": false }]
      ],
      "plugins": [
        "transform-react-constant-elements"
      ]
    }
  }
}